<launch>
  
  <node pkg="hw1_pack" name="move_forward" type="hw1_task1.py" />
  <node pkg="hw1_pack" name="get_position" type="hw1_task3.py" />
  <node pkg="robot_webui" name="serial_bridge" type="serial_bridge.sh" output="screen" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <include file="$(find astra_launch)/launch/astra.launch" />
  <node pkg="rosbag" type="record" name="recordalltopics" output="screen" args="record -a -x '/camera/(?!compressed)(.*) -O ./record" />

</launch>
