<launch>

  <node pkg="robot_webui" name="serial_bridge" type="serial_bridge.sh" output="screen"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <include file="$(find astra_launch)/launch/astra.launch">
  <node pkg="rosbag" type="record" name="recordalltopics" output="screen" args="record -a -x '/camera/(.*) -O "./record"/>
  <node pkg="rosbag" type="record" name="recordimagestopic" output="screen" args="record -e '/camera/(.*)compressed(.*)' -O ./record"/>

</launch>
